<h1>Product List</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productId }}</td>
        <td>
          <a [routerLink]="['/product', product.productId]"
            >{{ product.productName }}
          </a>
        </td>
        <td>{{ product.productPrice + "€" }}</td>
      </tr>
    </tbody>
  </table>
</div>
